<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Alquileres</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<div class="navbar">
    <h1>Panel Admin - AlquilaTusVehiculos</h1>
    <div class="menu">
        <a th:href="@{/admin}">Inicio</a>
        <a th:href="@{/admin/clientes}">Clientes</a>
        <a th:href="@{/admin/vehiculos}">Vehículos</a>
        <a th:href="@{/admin/alquileres}">Alquileres</a>
        <form th:action="@{/logout}" method="post" class="logout-form">
            <button type="submit" class="logout-link">Cerrar sesión</button>
        </form>
    </div>
</div>

<div class="container">
    <h2>Alquileres</h2>

    <div class="boton-container">
        <a th:href="@{/admin/alquileres/nuevo}" class="boton">Nuevo alquiler</a>
    </div>

    <div class="tabla-container">
        <table>
            <tr>
                <th>Cliente</th>
                <th>Vehículo</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
                <th>PRecio Total</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
            <tr th:each="alquiler : ${alquileres}">
                <td th:text="${alquiler.cliente.nombre}"></td>
                <td th:text="${alquiler.vehiculo.matricula}"></td>
                <td th:text="${alquiler.fechaInicio}"></td>
                <td th:text="${alquiler.fechaFin}"></td>
                <td th:text="${#numbers.formatDecimal(alquiler.precioTotal, 1, 2)} + ' €'"></td>
                <td>
                    <a th:href="@{/admin/alquileres/editar/{id}(id=${alquiler.id})}" class="boton-editar">
                        Editar
                    </a>
                </td>
                <td>
                    <a th:href="@{/admin/alquileres/eliminar/{id}(id=${alquiler.id})}" class="boton-eliminar">
                        Eliminar
                    </a>
                </td>
            </tr>
        </table>
    </div>

</div>

</body>
</html>