<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mis alquileres</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<header>
    <h1>AlquilaTusVehiculos</h1>
</header>

<main class="login-page">
    <h2>Mis alquileres</h2>

    <div class="botones">
        <a th:href="@{/user/alquileres/nuevo}" class="btn">Crear nuevo alquiler</a>
    </div>

    <br>

    <table class="tabla">
        <thead>
        <tr>
            <th>Número Pedido</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Precio</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="a : ${alquileres}">
            <td th:text="${a.numeroPedido}"></td>
            <td th:text="${a.fechaInicio}"></td>
            <td th:text="${a.fechaFin}"></td>
            <td th:text="${a.precioTotal}"></td>
        </tr>
        </tbody>
    </table>

    <br>

    <div class="botones">
        <a th:href="@{/user}" class="btn">Volver</a>
    </div>
</main>

</body>
</html>