<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Panel usuario</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<header>
    <h1>AlquilaTusVehiculos</h1>
</header>

<main class="login-page">
    <h2>Panel de usuario</h2>

    <div class="botones">
        <a th:href="@{/user/vehiculos}" class="btn">Ver vehículos</a>
        <a th:href="@{/user/alquileres}" class="btn">Mis alquileres</a>
        <a th:href="@{/logout}" class="btn">Cerrar sesión</a>
    </div>
</main>

</body>
</html>