<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Crear Cliente</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<div class="navbar">
    <h1>AlquilaTusVehiculos</h1>
</div>

<div class="container">
    <h2>Crear Cliente</h2>

    <form th:action="@{/clientes/guardar}" th:object="${cliente}" method="post">
        <input type="hidden" th:field="*{id}">

        <label>DNI</label>
        <input type="text" th:field="*{dni}">

        <label>Nombre</label>
        <input type="text" th:field="*{nombre}">

        <label>Apellidos</label>
        <input type="text" th:field="*{apellidos}">

        <label>Email</label>
        <input type="text" th:field="*{email}">

        <label>Teléfono</label>
        <input type="text" th:field="*{telefono}">

        <button type="submit" class="boton">Guardar</button>
    </form>

    <br>
    <a th:href="@{/clientes}" class="boton">Volver</a>
</div>

</body>
</html>