<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>AlquilaTusVehiculos</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="menu">
    AlquilaTusVehiculos
    <br>
    <a href="/">Inicio</a> |
    <a href="/clientes">Clientes</a> |
    <a href="/vehiculos">Vehículos</a> |
    <a href="/alquileres">Alquileres</a>

</div>

<div class="menu">
    AlquilaTusVehiculos
</div>

<div class="contenedor">

    <a href="/clientes" class="tarjeta">
        CLIENTES
    </a>

    <a href="/vehiculos" class="tarjeta">
        VEHÍCULOS
    </a>

    <a href="/alquileres" class="tarjeta">
        ALQUILERES
    </a>

</div>

</body>
</html>