<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Inicio</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<div class="navbar">
    <h1>AlquilaTusVehiculos</h1>
</div>

<div class="container">
    <h2>Bienvenido a AlquilaTusVehiculos</h2>
    <p>Inicia sesión o regístrate para alquilar vehículos.</p>

    <div class="boton-container">
        <a th:href="@{/login}" class="boton">Iniciar sesión</a>
        <a th:href="@{/registro}" class="boton">Registrarse</a>
    </div>
</div>

</body>
</html>